---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [81]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [120]:
def get_list_of_university_towns():
    LOUT = pd.read_table('university_towns.txt', header=None)
    DFOUT = pd.DataFrame(columns=["State", "RegionName"])
    Cur_State="US"
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )'''
    for i in range (0,len(LOUT)):
        if "[edit]" in LOUT.iloc[i][0]:
            Cur_State=LOUT.iloc[i][0]
        else:
            New_Row = pd.DataFrame([[Cur_State, LOUT.iloc[i][0]]], columns=["State", "RegionName"])
            DFOUT=DFOUT.append(New_Row, ignore_index=True)
    '''The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    DFOUT['RegionName'] = DFOUT['RegionName'].str.partition(" (")[0]
    DFOUT['RegionName'] = DFOUT['RegionName'].str.partition("\n")[0]
    DFOUT['State'] = DFOUT['State'].str.partition("[")[0]
    #DFOUT['State'] = DFOUT['State'].str.replace("\[.*\]","")
    #DFOUT['RegionName'] = DFOUT['RegionName'].str.replace("\n","")
    #DFOUT['RegionName'] = DFOUT['RegionName'].str.replace("\(.*\)","")
    
    return DFOUT

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
def get_recession_start():
    #df=pd.read_excel("gdplev.xls")
    df=pd.read_excel("gdplev.xls", skiprows=219, header=None)
    del (df[0],df[1],df[2],df[3],df[5],df[7])
    for i in range(1,len(df)):
        if ((df.iloc[i][6]-df.iloc[i-1][6])>=0):
            df.set_value(i, '7', "growth")
        else:
            df.set_value(i, '7', 'decline')
    '''Analize that we have only one recession at current data retrieval'''
    #declines=0
    #event=0
    #for i in range(1,len(df)):
    #    if df.iloc[i]['7']=="decline":
    #        declines+=1
    #        if declines==2:
    #            event+=1
    #    else:
    #        declines=0
    #print ("Number of events",event)
    declines=0
    rec_start=df.iloc[0][4]
    for i in range(1,len(df)):
        if df.iloc[i]['7']=="decline":
            declines+=1
            if declines==2:
                rec_start=df.iloc[i-1][4]
        else:
            declines=0
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return rec_start

get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    df=pd.read_excel("gdplev.xls", skiprows=219, header=None)
    del (df[0],df[1],df[2],df[3],df[5],df[7])
    for i in range(1,len(df)):
        if ((df.iloc[i][6]-df.iloc[i-1][6])>=0):
            df.set_value(i, '7', "growth")
        else:
            df.set_value(i, '7', 'decline')
    rec_start = get_recession_start()
    start_index=df[df[4] == rec_start].index
    while ((df.iloc[start_index]["7"] == "decline").bool()):
         start_index += 1
    '''Check that next two would be growth'''
    if ((df.iloc[start_index+1]["7"] == "growth").bool()):
        end_index = start_index+1
    else:
        end_index = "It's not a recession"
    rec_end=df.iloc[end_index[0]][4]
    return rec_end

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df=pd.read_excel("gdplev.xls", skiprows=219, header=None)
    del (df[0],df[1],df[2],df[3],df[5],df[7])
    for i in range(1,len(df)):
        if ((df.iloc[i][6]-df.iloc[i-1][6])>=0):
            df.set_value(i, '7', "growth")
        else:
            df.set_value(i, '7', 'decline')
    rec_start = get_recession_start()
    start_index=df[df[4] == rec_start].index
    minimum=df.iloc[start_index[0]][6]
    bottom_index=start_index
    while ((df.iloc[start_index]["7"] == "decline").bool()):
        if minimum>=df.iloc[start_index[0]][6]:
            minimum=df.iloc[start_index[0]][6]
            bottom_index=start_index
        start_index += 1
    return df.iloc[bottom_index[0]][4]

get_recession_bottom()

'2009q2'

In [65]:
def convert_housing_data_to_quarters():
    df=pd.read_csv("City_Zhvi_AllHomes.csv")
    df=df.drop(df.columns[3:51], axis=1)
    df=df.drop(df.columns[[0]], axis=1)
    df['State']=df['State'].map((lambda x: states[x]))
    df=df.sort(['RegionName'], ascending=False)
    df=df.sort(['State'], ascending=True)
    #df=df.reset_index(['State'],['RegionName'])
    df=df.set_index(['State','RegionName'])
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    for i in range (0, df.shape[1],3):
        year=2000+i//12
        quarter=((i % 12)//3) + 1
        cur_yq=str(year)+"q"+str(quarter)
        df[cur_yq]=df[df.columns[i]]+df[df.columns[i+1]]+df[df.columns[i+2]]
        df[cur_yq]=df[cur_yq].map(lambda x: x/3)
    df=df.drop(df.columns[0:200], axis=1)
    return df

convert_housing_data_to_quarters()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                                       2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Creola                 77066.666667   78233.333333   78800.000000
          Pinson                 89466.666667   89166.666667   90933.333333
          Center Point           80966.666667   81233.333333   81500.000000
          Duncanville           108100.000000  112033.333333  116133.333333
          Warrior                66500.000000   65266.666667   64433.333333
          Deatsville            112733.333333  113500.000000  112133.333333
          Shelby                112500.000000  112400.000000  114266.666667
          Mobile                 78233.333333   79366.666667   80433.333333
          Clay                  120900.000000  122266.666667  123966.666667
          Gardendale            114200.000000  114366.666667  114766.666667
          Ramer                           NaN            NaN            NaN
          Crane Hill                      NaN            NaN            NaN
          Gulf Shores           156500.000000  158900.000000  165700.000000
          Baileyton                       NaN            NaN            NaN
          Robertsdale            86833.333333   87666.666667   89000.000000
          Summerdale             91266.666667   91433.333333   96633.333333
          Mountain Brook        324866.666667  329900.000000  335600.000000
          Semmes                 88366.666667   89966.666667   90333.333333
          Seminole              113733.333333  123300.000000  128366.666667
          Axis                            NaN            NaN            NaN
          Mount Vernon           49533.333333   52433.333333   51200.000000
          Good Hope                       NaN            NaN            NaN
          Cottondale            100833.333333  102633.333333  104766.666667
          Birmingham             54033.333333   54400.000000   54966.666667
          Silverhill            101200.000000  104300.000000  105333.333333
          Wetumpka                        NaN            NaN            NaN
          Brent                  92933.333333   94333.333333   96166.666667
          Decatur                         NaN            NaN            NaN
          Woodstock             107500.000000  108200.000000  108166.666667
          Minor                  61100.000000   60033.333333   60933.333333
...                                       ...            ...            ...
Wisconsin Oakfield               96933.333333   99366.666667  101766.666667
          Town of Oconomowoc    171966.666667  171166.666667  170000.000000
          Phelps                          NaN            NaN            NaN
          Town of Menasha        99900.000000  104366.666667  109433.333333
          Hudson                139000.000000  158933.333333  167233.333333
          Town of Merton        247800.000000  244933.333333  244433.333333
          Weston                 80166.666667   82700.000000   84166.666667
          Fall Creek            117500.000000  119533.333333  119233.333333
          Howards Grove         114600.000000  118066.666667  122533.333333
          Fall River            119333.333333  119666.666667  121533.333333
          Town of Milton        106266.666667  107166.666667  107533.333333
          Town of Oregon        159933.333333  162433.333333  163700.000000
          Farmington                      NaN            NaN            NaN
          Howard                107933.333333  111666.666667  117866.666667
          Houlton               145400.000000  167966.666667  177300.000000
          Hortonville            77000.000000   76400.000000   75566.666667
          Horicon                94100.000000   94766.666667   94633.333333
          Town of Neenah         86966.666667   90633.333333   94333.333333
          Buchanan              105400.000000  105166.666667  109366.666667
          Town of New Holstein   79766.666667   80366.666667   84100.000000
          Pell Lake              82233.333333   77533.333333   74166.666667
          Augusta                96966.666667  100200.000000   99333.333333
          Brownsville                     NaN            NaN            NaN
          Town of Mukwonago     160866.666667  165233.333333  166500.000000
Wyoming   Casper                 89233.333333   89600.000000   89733.333333
          Cheyenne              116866.666667  120033.333333  121533.333333
          Evansville            128033.333333  128766.666667  130833.333333
          Bar Nunn               93033.333333   89666.666667   88900.000000
          Pine Bluffs            93733.333333   95066.666667   94633.333333
          Burns                 101533.333333  104566.666667  108366.666667

                                       2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Creola                 81233.333333   83000.000000   82066.666667
          Pinson                 91900.000000   93000.000000   93933.333333
          Center Point           82233.333333   83366.666667   84333.333333
          Duncanville           119700.000000  118300.000000  114433.333333
          Warrior                65100.000000   65266.666667   64900.000000
          Deatsville            112566.666667  115200.000000  115800.000000
          Shelby                117233.333333  119833.333333  122466.666667
          Mobile                 80166.666667   80233.333333   79933.333333
          Clay                  126500.000000  128033.333333  128300.000000
          Gardendale            116066.666667  117033.333333  117933.333333
          Ramer                           NaN            NaN            NaN
          Crane Hill                      NaN            NaN            NaN
          Gulf Shores           165133.333333  172600.000000  176400.000000
          Baileyton                       NaN            NaN            NaN
          Robertsdale            91100.000000   94366.666667   95766.666667
          Summerdale            100000.000000  102766.666667  104633.333333
          Mountain Brook        341066.666667  346366.666667  351866.666667
          Semmes                 90066.666667   89666.666667   89033.333333
          Seminole              127633.333333  130433.333333  128766.666667
          Axis                            NaN            NaN            NaN
          Mount Vernon           50900.000000   50966.666667   50933.333333
          Good Hope                       NaN            NaN            NaN
          Cottondale            105300.000000  106733.333333  109233.333333
          Birmingham             56066.666667   56833.333333   57600.000000
          Silverhill            106700.000000  108733.333333  112700.000000
          Wetumpka                        NaN            NaN            NaN
          Brent                  98333.333333   96533.333333   98500.000000
          Decatur                         NaN            NaN            NaN
          Woodstock             107900.000000  108366.666667  107866.666667
          Minor                  63733.333333   65200.000000   66033.333333
...                                       ...            ...            ...
Wisconsin Oakfield              102800.000000  105700.000000  108366.666667
          Town of Oconomowoc    172633.333333  179366.666667  182400.000000
          Phelps                          NaN            NaN            NaN
          Town of Menasha       113566.666667  116500.000000  119600.000000
          Hudson                169900.000000  171833.333333  176733.333333
          Town of Merton        249266.666667  262833.333333  269866.666667
          Weston                 85800.000000   87266.666667   88500.000000
          Fall Creek            119266.666667  120733.333333  124066.666667
          Howards Grove         125100.000000  126233.333333  126933.333333
          Fall River            120300.000000  120633.333333  122266.666667
          Town of Milton        110033.333333  113966.666667  118600.000000
          Town of Oregon        165300.000000  167166.666667  170466.666667
          Farmington                      NaN            NaN            NaN
          Howard                122766.666667  132233.333333  135166.666667
          Houlton               177466.666667  180166.666667  184000.000000
          Hortonville            77333.333333   82766.666667   89166.666667
          Horicon                94000.000000   94300.000000   95100.000000
          Town of Neenah         97566.666667  103433.333333  107800.000000
          Buchanan              113266.666667  120800.000000  127233.333333
          Town of New Holstein   89933.333333   97100.000000  102966.666667
          Pell Lake              73466.666667   76733.333333   80666.666667
          Augusta                98100.000000   99400.000000  100766.666667
          Brownsville                     NaN            NaN            NaN
          Town of Mukwonago     168566.666667  167000.000000  174766.666667
Wyoming   Casper                 93166.666667   95500.000000   97633.333333
          Cheyenne              123633.333333  125533.333333  126300.000000
          Evansville            132066.666667  130566.666667  131433.333333
          Bar Nunn               93500.000000   98833.333333   99900.000000
          Pine Bluffs            98066.666667  103233.333333  104600.000000
          Burns                 113000.000000  115833.333333  117200.000000

                                       2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Creola                 81600.000000   82000.000000   82133.333333
          Pinson                 95733.333333   97500.000000   98333.333333
          Center Point           84466.666667   85333.333333   86100.000000
          Duncanville           111666.666667  111766.666667  110200.000000
          Warrior                66233.333333   65733.333333   66166.666667
          Deatsville            114300.000000  114900.000000  116833.333333
          Shelby                121866.666667  116300.000000  115100.000000
          Mobile                 80566.666667   81233.333333   82266.666667
          Clay                  129233.333333  130466.666667  130900.000000
          Gardendale            119333.333333  120933.333333  121866.666667
          Ramer                           NaN            NaN            NaN
          Crane Hill                      NaN            NaN            NaN
          Gulf Shores           171900.000000  172400.000000  169033.333333
          Baileyton                       NaN            NaN            NaN
          Robertsdale            96066.666667   96766.666667   96400.000000
          Summerdale            100300.000000  100166.666667   99233.333333
          Mountain Brook        355766.666667  364433.333333  370933.333333
          Semmes                 89733.333333   90133.333333   92133.333333
          Seminole              124200.000000  125233.333333  128666.666667
          Axis                            NaN            NaN            NaN
          Mount Vernon           53666.666667   54566.666667   55266.666667
          Good Hope                       NaN            NaN            NaN
          Cottondale            109200.000000  109900.000000  109333.333333
          Birmingham             58433.333333   58700.000000   59500.000000
          Silverhill            114333.333333  118200.000000  121066.666667
          Wetumpka                        NaN            NaN            NaN
          Brent                  99366.666667  104100.000000  103800.000000
          Decatur                         NaN            NaN            NaN
          Woodstock             109066.666667  112266.666667  112066.666667
          Minor                  64900.000000   62833.333333   62266.666667
...                                       ...            ...            ...
Wisconsin Oakfield              110266.666667  112033.333333  112966.666667
          Town of Oconomowoc    185833.333333  187733.333333  191766.666667
          Phelps                          NaN            NaN            NaN
          Town of Menasha       120833.333333  120700.000000  118566.666667
          Hudson                176100.000000  175833.333333  178766.666667
          Town of Merton        272666.666667  270666.666667  275866.666667
          Weston                 90066.666667   91766.666667   94833.333333
          Fall Creek            126066.666667  127900.000000  129133.333333
          Howards Grove         129766.666667  131766.666667  132000.000000
          Fall River            124033.333333  129633.333333  131900.000000
          Town of Milton        120533.333333  121166.666667  120666.666667
          Town of Oregon        173000.000000  174933.333333  179333.333333
          Farmington                      NaN            NaN            NaN
          Howard                135700.000000  137166.666667  139433.333333
          Houlton               188133.333333  187400.000000  189233.333333
          Hortonville            94300.000000   95000.000000   94866.666667
          Horicon                95366.666667   95366.666667   94866.666667
          Town of Neenah        107066.666667  106833.333333  107333.333333
          Buchanan              130600.000000  133200.000000  133066.666667
          Town of New Holstein  107500.000000  105700.000000  101966.666667
          Pell Lake              82766.666667   84966.666667   85533.333333
          Augusta               103300.000000  105666.666667  106600.000000
          Brownsville                     NaN            NaN            NaN
          Town of Mukwonago     180900.000000  185766.666667  185533.333333
Wyoming   Casper                 99433.333333  100633.333333  101733.333333
          Cheyenne              126466.666667  128133.333333  128466.666667
          Evansville            132400.000000  133466.666667  133300.000000
          Bar Nunn               99100.000000   98333.333333   98633.333333
          Pine Bluffs           106500.000000  104066.666667  102233.333333
          Burns                 117800.000000  117633.333333  117333.333333

                                       2002q2      ...               2014q2  \
State     RegionName                               ...
Alabama   Creola                 83833.333333      ...        115366.666667
          Pinson                 99633.333333      ...        100366.666667
          Center Point           86500.000000      ...         78833.333333
          Duncanville           109533.333333      ...        127366.666667
          Warrior                66400.000000      ...         76466.666667
          Deatsville            116733.333333      ...        139133.333333
          Shelby                119300.000000      ...        155100.000000
          Mobile                 82900.000000      ...         98266.666667
          Clay                  131100.000000      ...        134100.000000
          Gardendale            122400.000000      ...        140033.333333
          Ramer                           NaN      ...         98900.000000
          Crane Hill                      NaN      ...        212100.000000
          Gulf Shores           168766.666667      ...        209800.000000
          Baileyton                       NaN      ...         87666.666667
          Robertsdale            97300.000000      ...        123866.666667
          Summerdale             97866.666667      ...        136700.000000
          Mountain Brook        375633.333333      ...        524233.333333
          Semmes                 92500.000000      ...        119800.000000
          Seminole              127033.333333      ...        167166.666667
          Axis                            NaN      ...        111066.666667
          Mount Vernon           54566.666667      ...         60200.000000
          Good Hope                       NaN      ...         94933.333333
          Cottondale            107966.666667      ...        128500.000000
          Birmingham             59866.666667      ...         61733.333333
          Silverhill            120933.333333      ...        149533.333333
          Wetumpka                        NaN      ...        128900.000000
          Brent                 102533.333333      ...         93866.666667
          Decatur                         NaN      ...         80566.666667
          Woodstock             113133.333333      ...        108233.333333
          Minor                  62766.666667      ...         65900.000000
...                                       ...      ...                  ...
Wisconsin Oakfield              112300.000000      ...        145100.000000
          Town of Oconomowoc    191866.666667      ...        227133.333333
          Phelps                          NaN      ...        169966.666667
          Town of Menasha       117766.666667      ...        138266.666667
          Hudson                189166.666667      ...        254466.666667
          Town of Merton        277533.333333      ...        354500.000000
          Weston                 97600.000000      ...        133233.333333
          Fall Creek            130633.333333      ...        154200.000000
          Howards Grove         130466.666667      ...        140766.666667
          Fall River            129933.333333      ...        157300.000000
          Town of Milton        120766.666667      ...        123766.666667
          Town of Oregon        180966.666667      ...        225433.333333
          Farmington                      NaN      ...        256000.000000
          Howard                142133.333333      ...        163566.666667
          Houlton               202466.666667      ...        263866.666667
          Hortonville            93833.333333      ...        130800.000000
          Horicon               100300.000000      ...        118366.666667
          Town of Neenah        105633.333333      ...        120233.333333
          Buchanan              130566.666667      ...        180366.666667
          Town of New Holstein  100266.666667      ...        110766.666667
          Pell Lake              84766.666667      ...        108733.333333
          Augusta               109566.666667      ...        108266.666667
          Brownsville                     NaN      ...        156466.666667
          Town of Mukwonago     188066.666667      ...        227433.333333
Wyoming   Casper                101533.333333      ...        175766.666667
          Cheyenne              129633.333333      ...        177466.666667
          Evansville            131066.666667      ...        296733.333333
          Bar Nunn              100866.666667      ...        199233.333333
          Pine Bluffs           103566.666667      ...        148666.666667
          Burns                 117233.333333      ...        168866.666667

                                       2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Creola                116466.666667  116433.333333  116866.666667
          Pinson                102133.333333  104700.000000  106500.000000
          Center Point           78433.333333   80200.000000   80100.000000
          Duncanville           133333.333333  139300.000000  142200.000000
          Warrior                76266.666667   77500.000000   78966.666667
          Deatsville            140500.000000  143933.333333  144700.000000
          Shelby                154300.000000  155766.666667  154666.666667
          Mobile                 99166.666667  101066.666667  100700.000000
          Clay                  134300.000000  135466.666667  138466.666667
          Gardendale            138800.000000  140533.333333  142400.000000
          Ramer                  87733.333333   85800.000000   90500.000000
          Crane Hill            214666.666667  225533.333333  222733.333333

In [117]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    bottom = get_recession_bottom()
    start = get_recession_start()
    housing_data = convert_housing_data_to_quarters()
    ut = get_list_of_university_towns()
    housing_data['Ratio'] = housing_data[start].div(housing_data[bottom])
    tuple_list=[tuple(x) for x in ut.to_records(index=False)]
    university_towns = housing_data.loc[tuple_list]
    non_university_towns = housing_data.loc[~housing_data.index.isin(tuple_list)]
    rez=stats.ttest_ind(university_towns['Ratio'], non_university_towns['Ratio'],nan_policy='omit')
    pvalue=rez[1]
    meandif=rez[0]
    if meandif<0:
        answer="university town"
    else:
        answer="non-university town"
    return (pvalue<0.01),(pvalue),(answer)

run_ttest()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

(False, 0.013733250828045766, 'university town')